<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Estadistica</title>
    <link rel="stylesheet" href="/css/admin/estadistica.css">
    <link rel="stylesheet" href="/css/admin/header.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="/images/Logo/Logo.png">
            <a href="/">Salir</a>
        </div>
    </header>
    <%- include('../partials/navbar'); %>
    <main>
        <div class="Content--table">
            <section class="Table--Container">
                <div>
                    <input type="text" placeholder="0000" id="Search">
                    <label for="Search">
                        <img src="/images/icons/Search.png" alt="lupa" id="Search">
                    </label>
                </div>
                <div>
                    <table>
                        <caption>Tabla de Ventas</caption>
                        <thead>
                            <tr>
                                <th>Id Venta</th>
                                <th>Id Bebida</th>
                                <th>Cantidad</th>
                                <th>Ingresos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% ventas.forEach(venta => { %>
                                <tr>
                                    <td><%= venta.id %></td>
                                    <td><%= venta.id_producto %></td>
                                    <td><%= venta.cantidad %></td>
                                    <td><%= venta.ingresos %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="Content--Container">
            <section class="Conversiones--Grafica">
                <article>
                    <h2>Conversion Monetaria</h2>
                    <div>
                        <input placeholder="$" id="Dolar">
                        <span>=</span>
                        <input placeholder="Bs" id="Bolivares">
                    </div>
                    <div class="Porcentaje">
                        <p>Porcentaje de <br>ganancia</p>
                        <div id="Resultado">Grafica</div>
                    </div>
                </article>
                <article>
                    <div class="Grafica">Grafica</div>
                </article>
            </section>
            <section class="Table--Popular">
                <table>
                    <caption>Productos Populares</caption>
                    <tbody>
                        <tr>
                            <td>Ron</td>
                        </tr>
                        <tr>
                            <td>Vulcana</td>
                        </tr>
                        <tr>
                            <td>Voodka</td>
                        </tr>
                        <tr>
                            <td>Blue Label</td>
                        </tr>
                        <tr>
                            <td>Black Label</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <section class="Ventas">
            <article>
                <div class="Container--1">
                    <div>Ventas del dia 002</div>
                    <div>Ventas del mes 002</div>
                </div>
                <div class="Container--2">
                    <div>Ingresos 1.000.000</div>
                    <div>Egresos 1.000.000</div>
                </div>
            </article>
        </section>
    </main>
    <script src="/js/admin/estadistica.js"></script>
</body>
</html>