<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Inventario</title>
    <link rel="stylesheet" href="/css/admin/inventario.css">
    <link rel="stylesheet" href="/css/admin/header.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="/images/Logo/Logo.png">
            <a href="#">Salir</a>
        </div>
    </header>
    <%- include('../partials/navbar'); %>
    <main>
        <section class="Content">
            <form class="Inputs--seleccionados">
                <div class="Input--Container">
                    <input type="search" placeholder="Buscar producto" id="Lupa">
                    <label for="Lupa">
                        <img src="/images/icons/Search.png" alt="Lupa" id="Lupa">
                    </label>
                </div>
                <div class="Input--Container">
                    <select>
                        <option value="Ron">Ron</option>
                        <option value="Voodka">Voodka</option>
                        <option value="Cerveza">Cerveza</option>
                        <option value="Vulcana">Vulcana</option>
                    </select>
                </div>
            </form>
            <article class="icon">
                <img src="/images/icons/delete.png" alt="Eliminar" title="Eliminar producto" id="Eliminar">
                <img src="/images/icons/pencil.png" alt="Modificar" title="Modificar producto" id="Modificar">
                <img src="/images/icons/add.png" alt="Añadir" title="Añadir producto" id="Añadir">
            </article>
        </section>
        <section class="Table--inventario">
            <table>
                <caption>Inventario de Bodega</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Producto</th>
                        <th>Tipo</th>
                        <th>Litros</th>
                        <th>Grados de alcohol</th>
                        <th>Imagen</th>
                        <th>Paquete</th>
                        <th>iva</th>
                        <th>Precio_detal</th>
                        <th>Precio_mayorista</th>
                        <th>stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < inventario.length; i++) { %>
                        <tr>
                            <td><%= inventario[i].id %></td>
                            <td><%= inventario[i].nombre_producto %></td>
                            <td><%= inventario[i].tipo %></td>
                            <td><%= inventario[i].litros %></td>
                            <td><%= inventario[i].grados %></td>
                            <td><%= inventario[i].imagen %></td>
                            <td><%= inventario[i].paquete %></td>
                            <td><%= inventario[i].iva %></td>
                            <td><%= inventario[i].precio_detal %></td>
                            <td><%= inventario[i].precio_mayorista %></td>
                            <td><%= inventario[i].stock %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
        <dialog id="dialog--1">
            <span id="Cerrar">X</span>
            <h2>Agregar Producto</h2>
            <form>
                <div class="input--Container">
                    <div class="Items">
                        <label for="NombreProducto">Nombre del Producto</label>
                        <input placeholder="Ingrese el nombre del producto" type="text" id="NombreProducto" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <select required>
                            <option value="">Bebida</option>
                            <option value="">Alcoholica</option>
                            <option value="">Energetica</option>
                            <option value="">Te</option>
                        </select>
                    </div>
                    <div class="Items">
                        <label for="Litros">Litros</label>
                        <input placeholder="Ingreso los litros de la bebida" required type="text" id="Litros">
                    </div>
                </div>
                <div class="input--Container">
                    <div>
                        <label for="Imagen">Imagen del producto</label>
                        <input type="file" id="Imagen"/>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Paquetes">Paquetes</label>
                        <input placeholder="Ingrese los paquetes" type="text" id="Paquetes" required>
                    </div>
                    <div class="item">
                        <label for="Iva">Iva</label>
                        <input placeholder="Ingrese el iva del producto" type="text" id="Iva" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Precio--detal">Precio detal</label>
                        <input placeholder="Ingrese el precio detal del producto" type="text" id="Precio--detal" required>
                    </div>
                    <div class="item">
                        <label for="Precio--mayorista">Precio mayorista</label>
                        <input placeholder="Ingrese el precio mayorista del producto" type="text" id="Precio--mayorista" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <label for="stock">Cantidad de stock</label>
                        <input placeholder="Ingrese la Cantidad de stock" type="text" id="stock" required>
                    </div>
                </div>
                <button type="submit" id="submit">Agregar</button>
            </form>
        </dialog>
        <dialog id="dialog--2">
            <span id="Cerrar--ventana">X</span>
            <h2>Modificar Producto</h2>
            <form>
                <div class="input--Container">
                    <div>
                        <label for="Modificar--producto">Id</label>
                        <input type="text" placeholder="Ingrese el id del producto Modificar" id="Modificar--producto" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <label for="NombreProducto">Nombre del Producto</label>
                        <input placeholder="Ingrese el nombre del producto" type="text" id="NombreProducto" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <select required>
                            <option value="">Bebida</option>
                            <option value="">Alcoholica</option>
                            <option value="">Energetica</option>
                            <option value="">Te</option>
                        </select>
                    </div>
                    <div class="Items">
                        <label for="Litros">Litros</label>
                        <input placeholder="Ingreso los litros de la bebida" required type="text" id="Litros">
                    </div>
                </div>
                <div class="input--Container">
                    <div>
                        <label for="Imagen">Imagen del producto</label>
                        <input type="file" id="Imagen"/>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Paquetes">Paquetes</label>
                        <input placeholder="Ingrese los paquetes" type="text" id="Paquetes" required>
                    </div>
                    <div class="item">
                        <label for="Iva">Iva</label>
                        <input placeholder="Ingrese el iva del producto" type="text" id="Iva" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="item">
                        <label for="Precio--detal">Precio detal</label>
                        <input placeholder="Ingrese el precio detal del producto" type="text" id="Precio--detal" required>
                    </div>
                    <div class="item">
                        <label for="Precio--mayorista">Precio mayorista</label>
                        <input placeholder="Ingrese el precio mayorista del producto" type="text" id="Precio--mayorista" required>
                    </div>
                </div>
                <div class="input--Container">
                    <div class="Items">
                        <label for="stock">Cantidad de stock</label>
                        <input placeholder="Ingrese la Cantidad de stock" type="text" id="stock" required>
                    </div>
                </div>
                <button type="submit" id="modified">Modificar</button>
            </form>
        </dialog>
    </main>
    <script src="/js/admin/inventario.js"></script>
</body>
</html>