<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Gerente</title>
    <link rel="stylesheet" href="/css/admin/mayorista.css">
    <link rel="shortcut icon" href="/images/Logo/logo-landing.png" type="image/x-icon">
</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/navbar'); %>
    <main>
        <div class="Content--page">
            <div class="input--Container">
                <input type="search" placeholder="Destino" id="Destino">
                <label for="Destino">
                    <img alt="Lupa" src="/images/icons/search.png" id="Destino">
                </label>
            </div>
            <div class="Minorista--Mayorista">
                <a href="/admin/envios/minorista" id="minorista">Minorista</a>
                <div>
                    <span id="mayorista">Mayorista</span>
                </div>
            </div>
        </div>
        <div class="Table--Container">
            <table>
                <caption>Envios Mayoristas</caption>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Destino</th>
                    <th>Fecha de entrega</th>
                    <th>Id__factura</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < envios.length; i++) { %>
                        <% if(envios[i].tipo === 'mayorista') { %>
                        <tr>
                            <td><%= envios[i].id %></td>
                            <td><%= envios[i].destino %></td>
                            <td><%= envios[i].entrega.toLocaleDateString() %></td>
                            <td><%= envios[i].id_factura %></td>
                            <td><%= envios[i].status %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>
    <script src="/js/admin/mayorista.js"></script>
</body>
</html>