<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Proveedor</title>
    <link rel="stylesheet" href="/css/admin/proveedor.css">
    <link rel="stylesheet" href="/css/admin/header.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="/images/Logo/Logo.png">
            <a href="#">Salir</a>
        </div>
    </header>
    <%- include('../partials/navbar'); %>
    <main>
        <div class="Content">
            <section class="Info--Proveedor">
                <h1>Vista de proveedor</h1>
                <article class="Nombre--proveedor">
                    <span>Nombre del Proveedor</span>
                    <h3><%= proveedor[0].nombre ? proveedor[0].nombre : 'No hay proveedor' %></h3>
                </article>
                <article class="Tlf--proveedor">
                    <span>Telefono del proveedor</span>
                    <h3><%= proveedor[0].telefono ? proveedor[0].telefono : 'No hay telefono' %></h3>
                </article>
                <article class="Ubi--proveedor">
                    <span>Ubicación</span>
                    <h3><%= proveedor[0].ubicacion ? proveedor[0].ubicacion : 'No hay ubicacion' %></h3>
                </article>
                <article class="Rif--proveedor">
                    <span>RIF</span>
                    <h3><%= proveedor[0].rif ? proveedor[0].rif : 'No hay RIF' %></h3>
                </article>
                <article class="Icon--proveedor">
                    <img src="/images/icons/Añadir--white.png" alt="Agregar" title="Agregar proveedor" id="Agregar">
                    <img src="/images/icons/Pencil--white.png" alt="Modificar" title="Modificar proveedor" id="Modificar">
                    <img src="/images/icons/Eliminar--white.png" alt="Eliminar" title="Eliminar proveedor" id="Eliminar">
                </article>
            </section>
            <section class="Table--Container">
                <div class="Input--Container">
                    <input type="search" placeholder="Buscar proveedor" id="Lupa">
                    <label for="Lupa">
                        <img src="/images/icons/search.png" alt="Lupa" id="Lupa">
                    </label>
                </div>
                <table>
                    <caption>Lista de Proveedores</caption>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre del Proveedor</th>
                            <th>Telefono del Proveedor</th>
                            <th>RIF</th>
                            <th>Ubicación</th>
                            <th>Fecha de Compra</th>
                            <th>Fecha de Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% proveedor.forEach((proveedor) => { %>
                            <tr>
                                <td><%= proveedor.id %></td>
                                <td><%= proveedor.nombre %></td>
                                <td><%= proveedor.telefono %></td>
                                <td><%= proveedor.rif %></td>
                                <td><%= proveedor.ubicacion %></td>
                                <td><%= proveedor.fecha_compra.toLocaleDateString() %></td>
                                <td><%= proveedor.fecha_entrega.toLocaleDateString() %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </section>
        </div>
        <dialog id="dialog--1">
            <span id="CerrarAgregar">X</span>
            <h2>Agregar Proveedor</h2>
            <form>
                <div class="Input--Container">
                    <div>
                        <label for="Nombre--proveedor">Nombre del Proveedor</label>
                        <input placeholder="Ingrese el nombre del proveedor" required id="Nombre--proveedor">
                    </div>
                    <div>
                        <label for="Apellido--proveedor">Apellido del Proveedor</label>
                        <input placeholder="Ingrese el apellido del proveedor" required id="Apellido--proveedor">
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="RIF">RIF</label>
                        <input placeholder="Ingrese el RIF del proveedor" required id="RIF">
                    </div>
                    <div>
                        <label for="Bebida">Producto del Proveedor</label>
                        <input placeholder="Ingrese el producto que vended el proveedor" required id="Bebida">
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="Ubicación">Ubicación del Proveedor</label>
                        <input placeholder="Ingrese la ubcación del proveedor" required id="Ubicación">
                    </div>
                    <div>
                        <label for="Telefono">Telefono del proveedor</label>
                        <input placeholder="Ingrese el telefono del proveedor" required id="Telefono">
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="Fecha--compra">Fecha de compra</label>
                        <input type="date" id="Fecha--compra" required>
                    </div>
                    <div>
                        <label for="Fecha--entrega">Fecha de entrega</label>
                        <input type="date" id="Fecha--entrega" required>
                    </div>
                </div>
                <button type="submit" id="SubmitAgregar">Agregar</button>
            </form>
        </dialog>
        <dialog id="dialog--2">
            <span id="CerrarModificar">X</span>
            <h2>Modificar Proveedor</h2>
            <form>
                <div class="Input--Container">
                    <div>
                        <label for="ID">Id</label>
                        <input placeholder="Ingrese el id del proveedor que quiere modificar" required id="ID--proveedor">
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="Nombre--proveedor">Nombre del Proveedor</label>
                        <input placeholder="Ingrese el nombre del proveedor" required id="Nombre--proveedor">
                    </div>
                    <div>
                        <label for="Apellido--proveedor">Apellido del Proveedor</label>
                        <input placeholder="Ingrese el apellido del proveedor" required id="Apellido--proveedor">
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="RIF">RIF</label>
                        <input placeholder="Ingrese el RIF del proveedor" required id="RIF">
                    </div>
                    <div>
                        <label for="Bebida">Producto del Proveedor</label>
                        <input placeholder="Ingrese el producto que vended el proveedor" required id="Bebida">
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="Ubicación">Ubicación del Proveedor</label>
                        <input placeholder="Ingrese la ubcación del proveedor" required id="Ubicación">
                    </div>
                    <div>
                        <label for="Telefono">Telefono del proveedor</label>
                        <input placeholder="Ingrese el telefono del proveedor" required id="Telefono">
                    </div>
                </div>
                <div class="Input--Container">
                    <div>
                        <label for="Fecha--compra">Fecha de compra</label>
                        <input type="date" id="Fecha--compra" required>
                    </div>
                    <div>
                        <label for="Fecha--entrega">Fecha de entrega</label>
                        <input type="date" id="Fecha--entrega" required>
                    </div>
                </div>
                <button type="submit" id="SubmitModificar">Modificar</button>
            </form>
        </dialog>
    </main>
    <script src="/js/admin/proveedor.js"></script>
</body>
</html>