<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers || Proveedor</title>
    <link rel="stylesheet" href="/css/admin/proveedor.css">
    <link rel="stylesheet" href="/css/admin/header.css">
</head>
<body>
    <header>
        <div class="Content__header">
            <img alt="Logo" src="/images/Logo/Logo.png">
            <a href="#">Salir</a>
        </div>
    </header>
    <nav class="Navigator--bar">
        <ul class="Navigator--bar List">
            <a href="/admin/dashboard" class="Link">
                <Li class="List--cont"><img alt="Proveedores" src="/images/icons/Home.png" title="Home"></Li>
            </a>
            <a href="/admin/inventario" class="Link">
                <Li class="List--cont"><img alt="Inventario" src="/images/icons/Inventario.png" title="Inventario"></Li>
            </a>
            <a href="/admin/estadistica" class="Link">
                <Li class="List--cont"><img alt="Estadistica" src="/images/icons/Estadistica.png" title="Estadistica"></Li>
            </a>
            <a href="/admin/proveedor" class="Link">
                <Li class="List--cont"><img alt="Proveedores" src="/images/icons/proveedor.png" title="Proveedores"></Li>
            </a>
            <a href="/admin/envios" class="Link">
                <Li class="List--cont"><img alt="Envios/pedidos" src="/images/icons/Envios.png" title="Envios/pedidos"></Li>
            </a>
            <a href="/admin/avisos" class="Link">
                <Li class="List--cont"><img alt="Avisos" src="/images/icons/Reporte.png" title="Avisos"></Li>
            </a>
        </ul>
    </nav>
    <main>
        <div class="Content">
            <section class="Info--Proveedor">
                <h1>Vista de proveedor</h1>
                <article class="Nombre--proveedor">
                    <span>Nombre del Proveedor</span>
                    <h3><%= proveedor[0].nombre %></h3>
                </article>
                <article class="Tlf--proveedor">
                    <span>Telefono del proveedor</span>
                    <h3><%= proveedor[0].telefono %></h3>
                </article>
                <article class="Ubi--proveedor">
                    <span>Ubicación</span>
                    <h3><%= proveedor[0].ubicacion %></h3>
                </article>
                <article class="Rif--proveedor">
                    <span>RIF</span>
                    <h3><%= proveedor[0].rif %></h3>
                </article>
                <article class="Icon--proveedor">
                    <img src="/images/icons/Añadir--white.png" alt="Agregar" title="Agregar proveedor">
                    <img src="/images/icons/Eliminar--white.png" alt="Eliminar" title="Eliminar proveedor">
                    <img src="/images/icons/Pencil--white.png" alt="Modificar" title="Modificar proveedor">
                </article>
            </section>
            <section class="Table--Container">
                <div class="Input--Container">
                    <input type="search" placeholder="Buscar proveedor" id="Lupa">
                    <label for="Lupa">
                        <img src="/images/icons/search.png" alt="Lupa" id="Lupa">
                    </label>
                </div>
                <table>
                    <caption>Lista de Proveedores</caption>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre del Proveedor</th>
                            <th>Telefono del Proveedor</th>
                            <th>RIF</th>
                            <th>Ubicación</th>
                            <th>Fecha de Compra</th>
                            <th>Fecha de Entrega</th>
                                                </tr>
                    </thead>
                    <tbody>
                        <% proveedor.forEach(proveedor => { %>
                        <tr>
                            <td><%= proveedor.id %></td>
                            <td><%= proveedor.nombre %></td>
                            <td><%= proveedor.telefono %></td>
                            <td><%= proveedor.rif %></td>
                            <td><%= proveedor.ubicacion %></td>
                            <td><%= proveedor.fecha_compra.toLocaleDateString() %></td>
                            <td><%= proveedor.fecha_entrega.toLocaleDateString() %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </section>
            
        </div>
    </main>
</body>
</html>