<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers</title>
    <link rel="stylesheet" href="/css/user/general.css">
    <link rel="stylesheet" href="/css/user/producto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>
<body>
    
    <%- include('./partials/user-header') %>

    <%- include('./partials/chat') %>

    <%- include('./partials/convert') %>

    <%- include('./partials/cart') %>

    <main>
        <div class="principal-container">
            <div class="image-container">
                <img id="example-liquor" src="/images/Licores/whisky-oldpar.jpg">
            </div>
            <div class="info-container">
                <div>
                    <p style="font-size: 1.8vmin;">Inicio > Old Par</p>
                    <h2>Whisky Grand Old Parr Aged 12 years 750ml</h2>
                    <p style="line-height: 1.5;">
                        Unidades Disponibles: 7<br>
                        Categoria: Whisky
                    </p>
                    <span id="price">
                        100,00$
                    </span>
                </div>
                <div style="flex-direction: column; display: flex; gap: 3vmin;">
                    <details>
                        <summary>FICHA TÉCNICA</summary>
                        Nombre: Whisky Grand Old Parr Aged 12 years<br>
                        Unidades por caja: 4<br>
                        Tipo: Whisky<br>
                        Productor: <br>
                        Capacidad: 750ml <br>
                    </details>
                    <div id="units">
                        <input type="number" class="productCant">
                        <button class="addButton">Añadir</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="subtitle">Productos Relacionados</h3>
        <ul class="productSection">
            <li>
                <div class="productView">
                    <input type="number" class="productCant">
                    <button>Agregar</button>
                </div>
                <h4>Anis Cartujo</h4>
                <h5>Desde 0.00$</h3>
            </li>
            <li>
                <div class="productView">
                    <input type="number" class="productCant">
                    <button>Agregar</button>
                </div>
                <h4>Anis Cartujo</h4>
                <h5>Desde 0.00$</h3>
            </li>
            <li>
                <div class="productView">
                    <input type="number" class="productCant">
                    <button>Agregar</button>
                </div>
                <h4>Anis Cartujo</h4>
                <h5>Desde 0.00$</h3>
            </li>
            <li>
                <div class="productView">
                    <input type="number" class="productCant">
                    <button>Agregar</button>
                </div>
                <h4>Anis Cartujo</h4>
                <h5>Desde 0.00$</h3>
            </li>
            <li>
                <div class="productView">
                    <input type="number" class="productCant">
                    <button>Agregar</button>
                </div>
                <h4>Anis Cartujo</h4>
                <h5>Desde 0.00$</h3>
            </li>
        </ul>
    </main>

    
    <%- include('./partials/footer') %>
    <script src="/js/user/producto.js"></script>
</body>
</html>