<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkers</title>
    <link rel="stylesheet" href="/css/user/general.css">
    <link rel="stylesheet" href="/css/user/catalogo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./user-header') %>

    <img id="whatsappIcon" src="/images/icons/whatsapp.svg">

    <div id="values">
        <section id="dolars" class="value">$</section>
        <section id="bs" class="value">bs</section>
    </div>

    <%- include('./cart') %>

    <main>
        <p style="padding-left: 3vmin;">Sección > <%= type %></p>
        <div id="topics">
            <h3 class="subtitle"><%= type %></h3>
            <div id="info">
                <select name="sort" id="sorting">
                    <option value="menor">Precio de Menor a Mayor</option>
                    <option value="mayor">Precio de Mayor a Menor</option>
                    <option value="alfabetico">Alfabético (A-Z)</option>
                </select>
                <p>Articulos: 14</p>
            </div>
        </div>

        <ul class="productSection">
            <% productos.forEach(producto => { %>
                <% if(producto.tipo == type) { %>
                    <%- include('./product', {name: producto.nombre_producto, price: producto.precio_detal}) %>
                <% } %>
            <% }) %>
        </ul>
    </section>
    </main>

    <%- include('./footer') %>

    <script src="../content.js"></script>
</body>
</html>