<li>
    <div class="productView">
        <img class="productImg" src=<%= producto.imagen %>>
        <input id="cantidad" type="number" class="productCant">
        <button onclick="addProduct()">Agregar</button>
    </div>
    <h4><%= producto.nombre_producto %></h4>
    <h5>Desde <%= producto.precio_detal %></h3>
</li>
<script>
    //Funcion para agregar un producto al carrito y al SessionStorage
    async function addProduct(){
        let producto = '<%= producto.nombre_producto %>'.replace(/ /g, '');
        let cantidad = document.getElementById('cantidad').value;

        if(sessionStorage.getItem(producto)){
            cantidad = parseInt(cantidad) + parseInt(JSON.parse(sessionStorage.getItem(producto)).cantidad);
        }

        const productStorage = {
            cantidad: cantidad,
            precio: '<%= producto.precio_detal %>',
            imagen: '<%= producto.imagen %>'
        }

        console.log(productStorage)
        sessionStorage.setItem(producto, JSON.stringify(productStorage));

        document.getElementById('cart-length').innerText = sessionStorage.length;

        //Funcion Externa del documento (cart.ejs)
        cargarCarrito();

    }
</script>