<li>
    <div class="productView">
        <img class="productImg" src=<%= producto.imagen %>>
        <input type="number" class="productCant">
        <button onclick="addProduct()">Agregar</button>
    </div>
    <h4><%= producto.nombre_producto %></h4>
    <h5>Desde <%= producto.precio_detal %></h3>
</li>
<script>
    async function addProduct(){
        await fetch('/producto', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: '<%= producto.nombre_producto %>',
                price: '<%= producto.precio_mayorista %>',
            })
        });
    }
</script>